/* fonts */
body {
    padding: 0;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

h2 {
	font-weight: bold;
  color: #ffffff;
}

.topbar {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 20%;
    overflow-y: hidden;
    padding-top: 0;
    padding-left: 20px;
    /*
    background-color: #ffffff;
    opacity: 0.5;
    */
    text-align: left;
}

.bottombar {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 20%;
    overflow-y: hidden;
    padding-left: 20px;
    padding-bottom: 1px;
    /*
    background-color: #ffffff;
    opacity: 0.5;
    */
    text-align: left;
}

.sidebar {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 20%;
    overflow-y: hidden;
    padding-left: 20px;
    padding-bottom: 1px;
    /*
    background-color: #ffffff;
    opacity: 0.5;
    */
    text-align: right;
}

.text {
  font-weight: bold;
  color: #ffffff;
}

/* quick grid */
.container {
  width: 93%;
  margin: auto;
}

/* Bootstrap-style columns */
.column {
  position: relative;
  float: left;
  min-height: 1px;
  width: 25%;
  padding-left: 4px;
  padding-right: 4px;

  /* Space between tiles */
  margin-top: 8px;
}

.col-span {
  width: 50%;
}

.my-sizer-element {
  width: 8.33333%;
}

/* default styles so shuffle doesn't have to set them (it will if they're missing) */
.my-shuffle {
  position: relative;
  overflow: hidden;
}

/* Ensure images take up the same space when they load */
/* https://vestride.github.io/Shuffle/images */
.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.aspect__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect--16x9 {
  padding-bottom: 56.25%;
}

.aspect--9x80 {
  padding-bottom: calc(112.5% + 8px);
}

.aspect--32x9 {
  padding-bottom: calc(28.125% - 3px);
}

img {
  display: block;
  width: 100%;

  max-width: none;
  height: 100%;
  object-fit: cover;
}

/* Small reset */
*,
::before,
::after {
  box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
}
