/* fonts */
p.main {
  font-size: 24px;
}
h1 { 
    font-size: 3vw;
    font-weight: bold;
    color: #ffffff;
}
h4 {
    font-size: 1vw;
    font-weight: bold;
    color: #7c7c7c;
}
.topbar {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 20%;
    overflow-y: hidden;
    padding-top: 0;
    padding-left: 20px;
    /*
    background-color: #ffffff;
    opacity: 0.5;
    */
    text-align: left;
}

.bottombar {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 20%;
    overflow-y: hidden;
    padding-left: 20px;
    padding-bottom: 1px;
    /*
    background-color: #ffffff;
    opacity: 0.5;
    */
    text-align: left;
}

.sidebar {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 20%;
    overflow-y: hidden;
    padding-left: 20px;
    padding-bottom: 1px;
    /*
    background-color: #ffffff;
    opacity: 0.5;
    */
    text-align: right;
}

.text {
  font-weight: bold;
  color: #ffffff;
}

/* quick grid */
.container {
  width: 93%;
  margin: auto;
}

/* Bootstrap-style columns */
.column {
  position: relative;
  float: left;
  min-height: 1px;
  width: 25%;
  padding-left: 4px;
  padding-right: 4px;

  /* Space between tiles */
  margin-top: 8px;
}

.col-span {
  width: 50%;
}

.my-sizer-element {
  width: 8.33333%;
}

/* default styles so shuffle doesn't have to set them (it will if they're missing) */
.my-shuffle {
  position: relative;
  overflow: hidden;
}

/* Ensure images take up the same space when they load */
/* https://vestride.github.io/Shuffle/images */
.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.aspect__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect--16x9 {
  padding-bottom: 56.25%;
}

.aspect--9x80 {
  padding-bottom: calc(112.5% + 8px);
}

.aspect--32x9 {
  padding-bottom: calc(28.125% - 3px);
}

img {
  display: block;
  width: 100%;

  max-width: none;
  height: 100%;
  object-fit: cover;
}

/* Small reset */
*,
::before,
::after {
  box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Allow vertical scroll */
  height: 100%;

  font-family: 'Montserrat', sans-serif;
}
.title {
    display: flex;
    min-height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    height: auto; /* Full viewport height */
    background-color: #000000;
    gap: 0px;
    padding: 10px;
  }
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 20px);
  height: auto; /* Full viewport height */
  background-color: #000000;
  gap: 20px;
  padding-top: 0px;
}
.animation-wrapper {
  display: flex;
  flex-direction: column;vertical-align: auto;
  align-items: center;
}
.animation-label {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}
.animation {
  aspect-ratio: 1 / 1;
  width: calc((100vw - 80px) / 3);
  max-width: calc((400vh - 140px) / 3);
  max-height: calc((400vw - 80px) / 3);
}
canvas, svg {
  display: block;
  width: 100%;
  height: 100%;
}
.white-section {
  height: 100vh; /* Full viewport height */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  padding: 20px;
}
#globeCanvas {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
